<h1> Join Room here</h1>

<%=form_tag user_join_room_path, :class => 'form' do%>
  <%=label :user, :room_id, 'Room ID', :class => 'col-form-label', :id =>"RoomID"%>
  <div class = 'form-inline'>
    <%=text_field :user, 'room_id', :class => 'form-control',:id => "RoomID" %>
  </div>

<% end %>
