<div class="container">
<h1>
  Creating Room
</h1>

<%=form_tag rooms_path, :class => 'form' do%>
  <%=label :room, :name, 'Room Name', :class => 'col-form-label', :id =>"RoomName"%>
  <div class = 'form-inline'>
    <%=text_field :room, 'name', :class => 'form-control',:id => "RoomName" %>
  </div>
  <br>
  <%= submit_tag "Create My Room", class: 'btn btn-success' %>
<% end %>

</div>