<h2>
  <%= "Welcome to the room #{@room.name}" %>
</h2>


<table class="" id="usernames">
  <thead>
  <tr>
    <th>Username</th>
  </tr>
  </thead>
</table>



<h3><%= "Please share the following room id with your friends/family: #{@room.invitation_token}" %></h3>
