<h2>
  <%= "Welcome to the room #{@room.name}" %>
</h2>



<table class="table-bordered" id="users">
  <thead>
    <tr>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
  <% @room.users.all.each do |user| %>
    <tr>
      <td>
        <%= user.username %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<h3><%= "Please share the following room id with your friends/family: #{@room.invitation_token}" %></h3>

