<h2>
  <%= "Welcome to the room #{@room.name}" %>
</h2>

<h3><%= "Please share the following room id with your friends/family: #{@room.invitation_token}" %></h3>
<%= button_to 'Draw', user_draw_path %>