<style>
    #discardMain{
        box-shadow: 2px 2px 6px gray;
    }

    #discardMain:hover{
    background-color: white;
      color: #dc3545;
  }
</style>


<div class="container">
  <h2 class="mt-3">Discard Cards</h2>
<%= form_tag  discard_discard_card_path, :method => :post do%>
  <table id="hand" class="table table-striped">
    <thead>
    <tr>
      <th>Card</th>
      <th>Select</th>
    </tr>
    </thead>
   <tbody>
    <% @hand.each do |card| %>
      <tr>
        <td>
          <%= image_tag(src=card.rank[0] + card.suit[0] + ".png", width: '80', height: '122') %>
        </td>
        <td>
         <%=check_box_tag "discarded[#{card.card_id}]"%>
        </td>
      </tr>
     </tbody>
   <% end %>
   </table>
  <div class="row justify-content-lg-center">
    <%=submit_tag "Discard", id: "discardMain", class:'btn btn-danger'%>
  </div>
  <% end %>
  </div>