html, body {
    margin: 0;
    padding: 0;
    background: White;
    color: DarkSlateGrey;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 10pt;
}
div#main {
    margin: 0;
    padding: 0 20px 20px;
}
