// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a{
  background-color: #16717c;
  color: white;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

a:visited{
  color:white;
}

a:hover {
  background-color: #23aabe;
}